.profil{
    display: grid;
    justify-content: center;

    justify-items: center;
    padding: 0.5rem;
    background-color: #f8f9fa;
    list-style-type: none;
    margin: 0 0.5rem;
    gap: 1rem;
}
.profil button{
    
  border-radius: 100%;
  height: 4rem;
  width:  4rem;
}
.col-6{
    display: grid;
    gap: 2rem;
    margin: 2rem 0;
}
.kolom2 {
    display: grid;
    height: 2rem;


}
.footer{
    display: flex;
    align-items: end;
    justify-content: end;
}
.footer button{

    width: 10rem;
    
}